
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #15202B;
  color : #FFFFFF
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  height: 300px;
  width: 400px;
  gap: 20px;
  margin: auto auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.form input {
  height: 50px;
  width: 400px;
  padding-left: 10px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.form button {
  height: 50px;
  width: 400px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
hr {
  color: #ccc;
}
.cardForm {
  border-bottom: 1px solid #ccc;
  height: auto;
  padding: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto auto;
}

.content {
  margin-left: 50px;
}
.sideBar {
  height: 728px;
  width: 20%;
  border: 1px solid #ccc;
}
.sidePosts {
  height: auto;
  width: 50%;
}
.main {
  display: flex;
}
.user {
  display: flex;
  align-items: center;
}
.userData{
  display: block;
  line-height: 1.2;
}
.userPhoto {
  width: 42px;
  height: 40px;
  margin-bottom: 10px;
  border-radius: 50%;
  margin-right: 10px;
}
.userPhoto img {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.cardForm h2 {
  margin-bottom: 10px;
}
.cardForm h3 {
  margin-bottom: 10px;
}
.cardForm h4 {
  color: #ffffff;
}
.cardForm h5 {
  color: #B1B1B1;
}
.cardForm p {
  margin-bottom: 10px;
}
.date {
  display: flex;
}
.card {
  height: auto;
  width: 100%;
  margin: 20px;
  border: 1px solid #6c6c6c;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
}
.center {
  height: auto;
  width: 70%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
.btn-update {
  margin-top: 10px;
  height: 40px;
  width: 130px;
  background-color: #171d8a;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.btn-delete {
  margin-top: 10px;
  height: 40px;
  width: 130px;
  background-color: #a40808;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.btn-func {
  display: flex;
  justify-content: space-between;
}
.cardUpdate {
  height: 300px;
  width: 400px;
  gap: 20px;
  margin: auto auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.cardUpdate input {
  height: 50px;
  width: 400px;
  padding-left: 10px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.cardUpdate button {
  height: 50px;
  width: 400px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}